* {
  box-sizing: border-box;
}

header, footer {
  border: 2px solid black;
  height: 100px;
}

section {
  border: 2px solid black;
  height: 300px;
  float: left;
  width: 33.333%;
}

footer {
  clear: left;
}