* {
  box-sizing: border-box;
}

header,
aside,
section,
footer {
  border: 2px solid black;
}

header,
footer {
  height: 150px;
}

aside,
section {
  height: 450px;
  float: left;
}

aside {
  width: 20%;
}

section {
  width: 40%;
}

footer {
  clear: left;
}